
@{
    ViewBag.Title = "Information";
    Layout = "~/Views/Shared/_LayoutEshop.cshtml";
}

<div class="container">

    <h3 class="info-title">@ViewBag.Title</h3>

    <h3 class="info-text">@ViewBag.Message</h3>

    <img class="info-image" src="/Content/img/info.png" />
    <br>
</div>