@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<div class="container">

    <h3 class="info-title">Your account is locked out</h3>

    <h3 class="info-text">This account has been locked out, please try again later.</h3>

    <img class="info-image" src="/Content/img/info.png" />
    <br>
</div>
