@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_LayoutEshop.cshtml";
}

<div class="container">
    <br>
        <h3 class="info-title">@ViewBag.Title</h3>
    <div>
        <h4 class="info-text">
            Please check your email to reset your password.
        </h4>
        <img class="info-image" src="~/Content/img/info.png" />
    </div>
    <br>
</div>
