
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_LayoutEshop.cshtml";
}
<div class="container">
    <br>
    <div class="section-title-center">
        <h3 style="margin-top:20px; text-align: center;" class="title">@ViewBag.Title</h3>
        <br>
    </div>
    <div>
        <h4 style="text-align: center; font-weight:500;">
            You need to make a payment.
        </h4>
        <img style="height:200px; display:block; margin: auto;" src="~/Content/img/info.png" />
    </div>
    <br>
</div>
